.desktop-image {
    width: 193px; 
    height: 266px;
}

.mobile-image {
    width: 176px;
    height: 133px;
}

.card-row {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.margin10 {
    margin-top: 10px;
}

.width60 {
    width: 60px; 
}
.end {
    text-align: end;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.height396 {
    height: 396px;
}

.background-purple {
    background-color: #9436c9;
}

.height100 {
    height: 100%;
}

.marginb10 {
    margin-bottom: 10px;
}

.margin4 {
    margin-top: 4px;
}

.marginl5 {
    margin-left: 5px;
}

.height384 {
    height: 384px;
}

.align-center {
    align-items: center; text-align: center;
}